<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Record</display-name>
  <welcome-file-list>
    <welcome-file>NewFile.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddDetailsServlet</display-name>
    <servlet-name>AddDetailsServlet</servlet-name>
    <servlet-class>assign.servlet.AddDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDetailsServlet</servlet-name>
    <url-pattern>/ads</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>assign.servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>assign.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/dus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vas</display-name>
    <servlet-name>vas</servlet-name>
    <servlet-class>assign.servlet.ViewAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vas</servlet-name>
    <url-pattern>/vas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserDetails</display-name>
    <servlet-name>ViewUserDetails</servlet-name>
    <servlet-class>assign.servlet.ViewUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserDetails</servlet-name>
    <url-pattern>/vud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mus</display-name>
    <servlet-name>mus</servlet-name>
    <servlet-class>assign.servlet.ModifyUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mus</servlet-name>
    <url-pattern>/mus</url-pattern>
  </servlet-mapping>
</web-app>